---
import { info } from "@data";


import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Skill from "@components/home/Skill.astro";
import Layout from "@layouts/Layout.astro";
import Interest from "@components/home/Interest.astro";


const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, [] as [] as { title: string; isFeatured: boolean; thumbnail: string; githubUrl: string; }[]);
---

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/tab_icon.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Experience title={"EDUCATION"} details={info.education} />
      <Skill title={"MAIN SKILLS"} details={info.skills}/>
      <Interest title={"INTERESTS"} details={info.interests} />
      <section>
        <h2 class="w-[15rem] dark:text-light mt-32">SOME PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
      </section>
    </Layout>
  </body>
</html>
